@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14.3% 95.9%; /* white */
    --foreground: 240 10% 3.9%; /* black */
    --card: 0 0% 100%; /* white */
    --card-foreground: 240 10% 3.9%; /* black */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 240 10% 3.9%; /* black */
    --primary: 0 72.2% 50.6%; /* red-500 */
    --primary-foreground: 0 0% 98%; /* white */
    --secondary: 240 4.8% 95.9%; /* gray-200 */
    --secondary-foreground: 240 5.9% 10%; /* black */
    --muted: 240 4.8% 95.9%; /* gray-200 */
    --muted-foreground: 240 3.8% 46.1%; /* gray-500 */
    --accent: 240 4.8% 95.9%; /* gray-200 */
    --accent-foreground: 240 5.9% 10%; /* black */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* white */
    --border: 240 5.9% 90%; /* gray-200 */
    --input: 240 5.9% 90%; /* gray-200 */
    --ring: 240 5.9% 10%; /* black */
  }

  .dark:root {
    --background: 240 10% 3.9%; /* black */
    --foreground: 0 0% 98%; /* white */
    --card: 220.9 39.3% 11%; /* gray-900 */
    --card-foreground: 0 0% 98%; /* white */
    --popover: 240 10% 3.9%; /* black */
    --popover-foreground: 0 0% 98%; /* white */
    --primary: 0 70% 35.3%; /* red-400 */
    --primary-foreground: 0 0% 98%; /* white */
    --secondary: 240 3.7% 15.9%; /* gray-800 */
    --secondary-foreground: 0 0% 98%; /* white */
    --muted: 240 3.7% 15.9%; /* gray-800 */
    --muted-foreground: 240 5% 64.9%; /* gray-500 */
    --accent: 240 3.7% 15.9%; /* gray-800 */
    --accent-foreground: 0 0% 98%; /* white */
    --destructive: 0 72% 51%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* white */
    --border: 240 3.7% 15.9%; /* gray-800 */
    --input: 240 3.7% 15.9%; /* gray-800 */
    --ring: 240 4.9% 83.9%; /* gray-800 */
  }
}